{% extends 'base.html' %}
{% block page_content %}
{% load static %}
{% include 'header.html' %}
{% include 'error_section.html' %}
  <main class="">
  <div class="container-fluid pb-3">
  	<div class="row justify-content-center">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6 ">
      <div class="bg-light border rounded-3 p-3 mb-2">
    	  <h2 class="fs-5">Create New Section</h2>
      </div>
      <form method="post">
        {% csrf_token %}
      <div class="bg-light border rounded-3 p-4">
        <div class="mb-4">
          <label for="answer" class="form-label"><span class="fw-bold text-danger">* </span> Section Title </label>
          <input name="section_title" type="text" class="form-control" id="answer" placeholder="Write the title here">
        </div>
        <div class="mb-4">
          <label for="section_desc" class="form-label"><span class="fw-bold text-danger">* </span> Section Description </label>
          <textarea name="section_desc" class="form-control" id="section_desc" rows="3" placeholder="Write the description of the section"></textarea>
        </div>
        <div class="mb-4">
          <label for="answerselect" class="form-label"><span class="fw-bold text-danger">* </span> Select Questionnaire </label>
          <select name="questionnaire" class="form-select" aria-label="Select Questionnaire" id="answerselect">
            <option selected>Select One</option>
            {% for questionnaire in questionnaires %}
            <option value="{{ questionnaire.id }}">{{ questionnaire.title }}</option>
            {% endfor %}
          </select>
        </div>
        <button class="btn btn-primary" type="Submit"><span class="fa fa-save me-3"> </span> Submit</button>
        <button class="btn btn-danger" type="reset">Discard</button>

      </div>
    </form>
    </div>
  </div>
  </div>
</main>
{% endblock %}