<table class="table table-striped table-hover caption-top">
    <caption>
        <div class="row ">
            <div class="col-5">
                <h1 class="fs-5  mt-3">Questionnaires </h1>
            </div>
            <div class="col-7 text-end">
                <a href="/new_questionnaire" class="btn btn-sm btn-primary"><span class="fa fa-plus me-3"></span>Add Questionnaire</a>
            </div>
        </div>
    </caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        {% for questionnaire in questionnaires %}
        <tr>
            <td>{{ questionnaire.id }}</td>
            <td>{{ questionnaire.title }}</td>
            <td>{{ questionnaire.description }}</td>
            <td>{{ questionnaire.user }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>