<div class="container-fluid pb-3">

      <div class="row justify-content-center p-3">
          <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-lg-3">
              <div class="card bg-primary bg-gradient text-white">
                  <div class="card-body d-flex flex-row align-items-center flex-0">
                      <div class="d-block">
                          <div class="h6 fw-normal text-gray mb-2">Questionnaires</div>
                          <div class="small mt-2">
                              <span class="fas fa-angle-up text-white"></span>
                              <span class="text-white fw-bold">18.2%</span>
                          </div>
                      </div>
                      <div class="d-block ms-auto">
                          <h2 class="h3">{{num_questionnaires}}</h2>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-lg-3">
              <div class="card bg-info bg-gradient text-white">
                  <div class="card-body d-flex flex-row align-items-center flex-0">
                      <div class="d-block">
                          <div class="h6 fw-normal text-gray mb-2">Sections</div>
                          <div class="small mt-2">
                              <span class="fas fa-angle-up text-white"></span>
                              <span class="text-white fw-bold">18.2%</span>
                          </div>
                      </div>
                      <div class="d-block ms-auto">
                          <h2 class="h3">{{num_sections}}</h2>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-lg-3">
              <div class="card bg-danger bg-gradient text-white">
                  <div class="card-body d-flex flex-row align-items-center flex-0">
                      <div class="d-block">
                          <div class="h6 fw-normal text-gray mb-2">Questions</div>
                          <div class="small mt-2">
                              <span class="fas fa-angle-up text-white"></span>
                              <span class="text-white fw-bold">18.2%</span>
                          </div>
                      </div>
                      <div class="d-block ms-auto">
                          <div class="d-flex align-items-center text-right mb-2">
                              <h2 class="h3">{{num_questions}}</h2>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>



          <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3 col-lg-3">
              <div class="card bg-warning bg-gradient text-white">
                  <div class="card-body d-flex flex-row align-items-center flex-0">
                      <div class="d-block">
                          <div class="h6 fw-normal text-gray mb-2">Surveys Taken</div>
                          <div class="small mt-2">
                              <span class="fas fa-angle-up text-white"></span>
                              <span class="text-white fw-bold">18.2%</span>
                          </div>
                      </div>
                      <div class="d-block ms-auto">
                          <h2 class="h3">{{num_surveys}}</h2>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>